@model VPA2.Models.DocUpload
@{
    ViewBag.Title = "Documents";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Success</h3>


@using (Html.BeginForm("Documents", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                 <div class="">@Html.ValidationMessage("Token")</div>
                 <div class="form-group">
                      @Html.LabelFor(model => model.token, "Token")
                      <div class="input-group"> 
                            @Html.TextBoxFor(model => model.token, new { @class = "form-control" })
                      </div>
                  </div>
                  <div class="">@Html.ValidationMessage("File")</div>
                  <div class="form-group">
                       <label for="file">Upload Documents or image files</label>
                      <div class="input-group">
                          <input type="file" name="file" class="form-control"/>
                      </div>
                  </div>
                  <input type="submit" value="Upload" class="btn btn-primary" />
             </div>
          </div>
       </div>

}
