@model VPA2.Models.Clients

@{
    ViewBag.Title = "Details";
}
<h1>@ViewBag.Success</h1>
<h2>Details</h2>


<div>
    <h4>Clients</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uniqueToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uniqueToken)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.clientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
