@model IEnumerable<VPA2.Models.Clients>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

    <table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.clientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uniqueToken)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div>
                    @Html.DisplayFor(modelItem => item.clientId)
                </div>
            </td>
            <td>
                <div>
                    @Html.DisplayFor(modelItem => item.firstName)
                </div>
            </td>
            <td>
                <div>
                    @Html.DisplayFor(modelItem => item.lastName)
                </div>
            </td>
            <td>
                <div>
                    @Html.DisplayFor(modelItem => item.email)
                </div>
            </td>
            <td>
                <div>
                    @Html.DisplayFor(modelItem => item.message)
                </div>
            </td>
            <td>
                <div>
                    @Html.DisplayFor(modelItem => item.uniqueToken)
                </div>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.clientId }) |
                @Html.ActionLink("Decrypt", "Details", new { id = item.clientId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.clientId })
            </td>
        </tr>
    }

</table>



